.login {
    display: flex;
    flex-direction: column;
    width: 20%;
    text-align: left;
    align-items: left;
    border-radius: 5px;
    padding: 20px;
    border: 2px solid black;
}
.bottone {
    width: 50%;
    border: 1px solid black;
    border-radius: 5px;
    padding: 5px;
    margin-top: 5px;
}
.titolino {
    display: flex;
    flex-direction: column;
    text-align: left;
    width: 23%;
    gap: 0;
    padding-top: 10px;
    margin-bottom: 15px;
}
.titolino h2,
.titolino h3 {
    margin: 5px;
    padding: 0;
}
.checklist {
    display:flex;
    padding-top: 8px;
    padding-bottom: 8px;
}
.spazio {
    padding-top: 10px;
}